body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.card-container {
 display: grid;
  margin: 50px;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 5px;
}

.span2{
  grid-column: span 2;

}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4,auto);
  grid-row: 5px;
}

.card-image {
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  align-self: center;
}

.card-description {
  font-size: 1rem;
  color: #666;
  align-self: center;
}

.card-button {
  padding: 10px;
  width: 100%;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

 